---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary } = basics
---

<Section title="Sobre mí">
    { summary.map (( paragraph, index ) => (
        <fragment>
            <p>{paragraph}</p>
            {index !== summary.length - 1 && <br />}
        </fragment>
    ))}

</Section>